body {
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: Ariel, Verdana, Tahoma, sans-serif;
    text-align: center;
    margin: 10px auto;
    padding: 15px;
    
}

ul,
ol {
    background-color: green;
    color: yellow;
    font-family: Trebuchet MS, Times New Roman, Georgia, sans-serif;
    text-align: left;
    padding: 20px;
    margin: 15px auto;
}

h1,
h2,
h3 {
    color: yellow;
    font-weight: bolder;
    font-family: Garamond, Courier New, Brush Script MT, sans-serif;
}